
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;
}

.body {
    display:flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.profile-section {
    flex: 2;
    background-color: #563D7C;
    height: 100vh;
}

.details {
    flex: 3;
    height: 100vh;
    background-color: black;
}

.profile {
    padding-top: 18%;
    padding-left: 10% !important;
    padding-bottom: 20%;
    font-weight: 600;
    line-height: 1.1;
    font-size:40px ;
}


.content {
    display: none;
  }
  
  .content.active {
    display: block;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #563D7C;
  }

  #about {
    flex: 2;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  #experiences {
    flex: 2;
    margin-bottom: 20px;
  }

  #education {
    flex: 2;
    margin-bottom: 20px;
  }

  #contact {
    flex: 2;
  }


.buttons {
    display: inline-block;
    text-align: left;
  }
  
  .buttons button {
    border: none;
    display: block;
    width: 100%;
    padding: 15px;
    padding-right: 30px;
    border-top-right-radius: 8px;
    background-color: #563D7C;
  }
  
  #educationContent {
    padding-top: 90px !important;
    
  }

  .card {
    background-color: black !important;
  }

  .no-wrap {
    white-space: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-items: left;
}

.details {
  display: flex;
  flex-direction: column;
  color: #563D7C;
}

.header {
  flex: 3;
}

.body-2 {
  flex: 4;
}

.head {
  display: flex;
  flex-direction: row;
}

.buttons {
  flex: 1;
}

.images {
  flex: 5;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.educ.active,
.abt.active,
.exp.active,
.con.active {
  background-color: #000;
  color: #563D7C;
}

#contact-con {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

@media (max-width:320px) {
  .body {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .profile-section {
    flex: 5;
    width: 100vw;
  }

  .details {
    flex: 6;
    width: 100vw;
  }
}

#expimg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.imgexp {
  flex:1;
}